.header .main_menu {
  display: flex;
  padding: 20px;
  padding: 18px 64px 18px 20px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #CCCCCC;
}

.header .main_menu .main_gnb li {
  font-size: 20px;
  line-height: 22px;
}

.header .main_menu .main_gnb li:first-child {
  margin-right: 78px;
}

.header .main_menu .main_gnb, .icon_box {
  display: flex;
}

.header .main_menu .plus_chat {
  padding: 6px 8px;
  background-color: #FF6C6C;
  color: #ffffff;
  border-radius: 5px;
  margin-right: 4px;
}

.header .main_menu .search_box {
  width: 550px;
  height: 34px;
  background-color: rgba(187, 208, 255, 0.44);
  border-radius: 20px;
  position: relative;
  display: flex;
  align-items: center;
}

.header .main_menu .search_box .search_img {
  position: absolute;
  right: 10px;
  width: 18px;
  height: 16px;
}

.header .main_menu .search_box .search_img img {
  width: 100%;
}

.header .main_menu .icon_box .icon_img {
  width: 58px;
  height: 58px;
}

.header .main_menu .icon_box .icon_img img {
  width: 100%;
}

.header .main_menu .icon_box .icon_img.person {
  margin: 0 12px 0 28px;
}

.header .main_menu .icon_box ,.icon_txt {
  display: flex;
  align-items: center;
}

/* section */
.section {
  margin-bottom: 70px;
}
.section .main_title h1 {
  text-align: center;
  padding: 22px 0;
  font-size: 24px;
  font-weight: 800;
}

.section .main_title .mint_box {
  height: 130px;
  background-color: #F7F7F7;
  border-top: 1px solid #CCCCCC;
  border-bottom: 1px solid #CCCCCC;
}

.section .filter_array_flex {
  display: flex;
  justify-content: space-between;
  padding: 24px 116px 24px 42px;
  border-bottom: 1px solid #CCCCCC;
}

.section .filter_array_flex>div {
  display: flex;
  align-items: center;
}

.section .filter_array_flex>div img {
  margin-right: 5px;
}

.section .filter_array_flex>div p {
  font-size: 16px;
  color: #7a7a7a;
}

.section .filter_array_flex .array {
  position: relative;
}

.section .filter_array_flex .array_click {
  /* display: none; */
  position: absolute;
  right: 0;
  bottom: -120px;
  width: 240px;
  z-index: 1;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 20px;
  padding: 12px 16px;
}

.section .filter_array_flex .array_click p {
  border-bottom: 1px solid #cccccc;
  line-height: 20px;
  padding-bottom: 4px;
  margin-bottom: 8px;
  font-size: 10px;
}

.section .filter_array_flex .array_click p:last-child {
  border-bottom: 0;
  margin-bottom: 0;
}

.section .whole_chart {
  display: flex;
}

.section .whole_chart .left_list_box {
  width: 390px;
  padding: 48px 16px 0 52px;
}



.section .whole_chart .left_list_box .purchase_btn {
  background-color: #477EFF;
  padding: 15px;
  text-align: center;
}

.section .whole_chart .left_list_box .purchase_btn p {
  font-size: 22px;
  font-weight: 800;
  color: #ffffff;
  text-shadow: 0px 4px 5px #3E3E3E;
}

.section .whole_chart .right_list_box {
  width: calc(100% - 390px);
}

.section .whole_chart .right_list_box table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #cccccc;
  border-width: 0px 1px 1px 1px;
  text-align: center;
  margin-bottom: 140px;
}

.section .whole_chart .right_list_box table td {
  border: 1px solid #cccccc;
  padding: 60px 0 55px 0;
}

.section .whole_chart .right_list_box table tr:first-child td {
  border-top: none;
}

.section .whole_chart .right_list_box table td .book_img_box {
  margin-bottom: 24px;
}

.section .whole_chart .right_list_box table td .book_desc .name {
  font-size: 22px;
  font-weight: 400;
  margin-bottom: 25px;
}

.section .whole_chart .right_list_box table td .book_desc .price {
  font-size: 20px;
  font-weight: 400 ;
}

.section .whole_chart .right_list_box .page_btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section .whole_chart .right_list_box .page_btn .btn_img , .page_num {
  margin-right: 85px;
}

.section .whole_chart .right_list_box .page_btn .page_num ul {
  display: flex;
}

.section .whole_chart .right_list_box .page_btn .page_num li {
  font-size: 20px;
  border: 1px solid #CCCCCC;
  border-radius: 15px;
  margin-right: 28px;
}

.section .whole_chart .right_list_box .page_btn .page_num li a {
  padding: 18px 20px;
}

/* footer */
.footer {
  background-color: #3E3E3E;
  padding: 28px 0 22px;
  color: #CCCCCC;
}
.footer .footer_flex {
  display: flex;
  padding: 0 110px;
  align-items: center;
}

.footer .footer_flex .footer_logo {
  border-right: 1px solid #cccccc;
  padding: 48px 140px 46px 0;
}

.footer .footer_flex .footer_addres {
  padding: 48px 0 46px 90px;
  font-size: 18px;
  font-weight: 400;
}

.section .whole_chart .left_list_box .dep1>a {
  margin-bottom: 45px;
  position: relative;
  display: inline;
}

.section .whole_chart .left_list_box .dep1:last-child {
  margin-bottom: 82px;
}

.section .whole_chart .left_list_box .dep1 {
  font-size: 20px;
  font-weight: 800;
  margin-bottom: 45px;
}

.section .whole_chart .left_list_box .dep1 a.li01:after {
  content: '';
  position: absolute;
  top: 5px;
  right: -35px;
  width: 25px;
  height: 14px;
  background: url("./../images/bk_arrow_down.png");
}

.section .whole_chart .left_list_box .li01.on:after {
  transform: rotate(180deg);
}

.section .whole_chart .left_list_box .dep2 {
  height: 0;
  overflow: hidden;
  transition: 0.7s;
}

.section .whole_chart .left_list_box .li01.on .dep2 {
  height: 350px;
}

.section .whole_chart .left_list_box .dep2 li {
  padding: 12px 0;
  font-size: 16px;
  font-weight: 400;
  color: #333333;
}

.section .whole_chart .left_list_box .dep2.on {
  height: 550px;
}
